# Telegram Bot Token (get from @BotFather)
BOT_TOKEN=123456:ABC-DEF1234ghIkl-zyx57W2v1u123ew11

# Admin Telegram Chat ID (get from @userinfobot)
ADMIN_ID=123456789

# Sub Admin Telegram Chat IDs (bemor qo'shish va statistika ko'rish)
SUB_ADMIN_1=000000001
SUB_ADMIN_2=000000002

# Clinic Info
CLINIC_NAME=MedLife Klinikasi
CLINIC_PHONE=+998 90 123 45 67
